:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --main-btn-bg: #249a99;
  --main-bg-color: #fdece570;
  --secondary-color: rgba(0, 0, 0, 0.589);
  --link-hover-color: black;
}

.hero {
  text-align: center;
  background: var(--main-bg-color);
  padding: 160px 0px;
  line-height: 30px;
}
.hero p {
  margin: 0px;
  font-size: 36px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: rgba(39, 33, 66, 1);
}
.hero h1 {
  font-size: 90px;
  font-family: var(--primary-font-family);
  font-weight: bold;
  margin: 0px;
}
.hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: var(--secondary-color);
}
.btn-contact {
  text-align: center;
  width: 100%;
  background: var(--main-btn-bg);
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: cornsilk;
}
.btn-contact:hover {
  color: var(--link-hover-color);
}
.btn-weather-app:hover {
  color: var(--link-hover-color);
}
.btn-project-app {
  border: 1px solid var(--main-btn-bg);
  text-decoration: none;
  padding: 12px 20px;
  color: var(--main-btn-bg);
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
}
.short-introduction {
  font-family: var(--secondary-font-family);
  padding: 50px;
  margin: 0px;
}

div h2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 50px;
}
div p {
  line-height: 30px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}
.project-description {
  padding: 100px 60px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 22px;
  }
  div h2 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .project-description {
    text-align: center;
    padding: 23px 20px;
  }
}
